@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}
body,p,ul,li,a,img,h1,h2,h3,h4,h5,h6,div,span{
	margin: 0px;
	padding: 0px;
	font-family:'Microsoft Yahei','SimHei','YouYuan','LiSu','Open Sans','Helvetica','Tahoma', 'DejaVu Sans Mono',Arial,sans-serif, Menlo, Consolas, monospace;

}
body{
	background-image: url(../img/body_background.jpg);
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:left top;
	background-clip:border-box;
	background-origin:padding-box;
	text-shadow: none !important;
	font-size: 62.5%;
	min-width: 300px;
}

/*主页面*/
.yemian_zhu{
	width: 100%;
	height: 100%;
	/*position: relative;*/
	display: block;
	/*background-color: rgba(0,0,0,0.4);*/
}
.yemian_zhu_container{
	width: 1200px;
	height: 1000px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid yellow;*/
}


/*我的作品*/
	.zuopin{ 
		width: 150px;
		height: 600px;
		position: absolute;
		top: 100px;
		right: 10px;
		/*border: 1px solid red;*/
	}
	.zp{
		width: 150px;
		height: 600px;
	}
	.zp li {
		width: 100%;
		height: 60px;
		line-height: 60px;
		list-style: none;
		position: relative;
		margin: 10px 0;
	}
	.zp li a{
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		color: white;
		font-size: 25px;
		text-align: center;
		text-decoration: none;
	}
	.zp li:hover a{
		color: red;
		background-color: rgb(155,155,155);
	}

	.zp_line_top{
		width: 100%;
		height: 5px;
		position: absolute;
		left: 0px;
		top: 0px;
		transition: all 1s linear;
	}
	.zp li:hover .zp_line_top{ width: 0%; }
	.zp_line_top div{
		width: 10%;
		height: 5px;
		float: left;
	}
	.zp_line_right{
		width: 5px;
		height: 100%;
		position: absolute;
		top: 0px;
		right: 0px;
		transition: all 1s linear;
	}
	.zp li:hover .zp_line_right{ height: 0px; }
	.zp_line_right div{
		width: 5px;
		height: 25%;
	}
	.zp_line_bottom{
		width: 100%;
		height: 5px;
		position: absolute;
		right: 0px;
		bottom: 0px;
		transition: all 1s linear;
	}
	.zp li:hover .zp_line_bottom{ width: 0px; }
	.zp_line_bottom div{
		width: 10%;
		height: 5px;
		float: left;
	}
	.zp_line_left{
		width: 5px;
		height: 100%;
		position: absolute;
		bottom: 0px;
		left: 0px;
		transition: all 1s linear;
	}
	.zp li:hover .zp_line_left{ height: 0px; }
	.zp_line_left div{
		width: 5px;
		height: 25%;
	}


/*我的项目*/
	.xiangmu{ 
		width: 150px;
		height: 600px;
		position: absolute;
		top: 100px;
		left: 10px;
		/*border: 1px solid red;*/
	}
	.xm{
		width: 150px;
		height: 600px;
	}
	.xm li {
		width: 100%;
		height: 60px;
		line-height: 60px;
		list-style: none;
		position: relative;
		margin: 10px 0;
	}
	.xm li a{
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		color: white;
		font-size: 25px;
		text-align: center;
		text-decoration: none;
	}
	.xm li:hover a{
		color: rgb(199,0,18);
		background-color: rgb(0,182,188);
	}
	.xm_jj{
		width: 150px;
		height: 370px;
		line-height: 25px;
		font-size: 13px;
		background-color: rgb(199,199,199);
		position: absolute;
		top: 0px;
		left: 150px;
		padding: 20px;
		display: none;
	}
	.xm_jj span{
		font-size: 20px;
		color: rgb(199,0,18);
	}

	.xm_line_top{
		width: 100%;
		height: 5px;
		position: absolute;
		right: 0px;
		top: 0px;
		transition: all 1s linear;
	}
	.xm li:hover .xm_line_top{ width: 0px; }
	.xm_line_top div{
		width: 10%;
		height: 5px;
		float: left;
		/*background-color: red;*/
	}
	.xm_line_right{
		width: 5px;
		height: 100%;
		position: absolute;
		bottom: 0px;
		right: 0px;
		transition: all 1s linear;
	}
	.xm li:hover .xm_line_right{ height: 0px; }
	.xm_line_right div{
		width: 5px;
		height: 25%;
	}
	.xm_line_bottom{
		width: 100%;
		height: 5px;
		position: absolute;
		left: 0px;
		bottom: 0px;
		transition: all 1s linear;
	}
	.xm li:hover .xm_line_bottom{ width: 0px; }
	.xm_line_bottom div{
		width: 10%;
		height: 5px;
		float: left;
	}
	.xm_line_left{
		width: 5px;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		transition: all 1s linear;
	}
	.xm li:hover .xm_line_left{ height: 0px; }
	.xm_line_left div{
		width: 5px;
		height: 25%;
	}








/*我的简历*/ /*中间手机框*/
	.my_introduce{
		width: 400px;
		height: 700px;
		/*border: 1px solid red;*/
		padding: 10px;
		position: absolute;
		left: 400px;
		top: 10px;
	}
	.phone_panel{
		/*width:360px;*/
		width: auto;
		height:640px;
		/*border:1px solid red;*/
		position: relative;
	}


/*整个手机*/
	.main{
		width:100%;
		height:100%;
		margin:0 auto;
		box-sizing:border-box;
		position:relative;
		overflow:hidden;
	}
	.phoneBox{
		width:320px;
		min-width: 320px;
		height:640px;
		float:left;
	}

/*手机上部白条*/
.phoneBox .top{
	height:48px;
	width:100%;
	background-color: #fff;
	border-top-right-radius:25px;
	border-top-left-radius:25px;
}
/*菜单栏*/
	.phone_menubar{
		height:20px;
		background:url(../img/shouji_nav.png);
		background-repeat:no-repeat;
		background-size: 363px 20px;
		background-color:#000000;
		position: relative;
	}	
	#phone_time{
		width: 80px;
		height: 18px;
		line-height: 18px;
		padding-top: 2px;
		color: rgb(215,215,217);
		background: black;
		/*float: right;*/
		font-size: 14px;
		position: absolute;
		left: 90px;
	}

/*名字栏：朱朝阳的个人简历*/
	.scene_title_baner{
		height:40px;
		line-height:40px;
		background-color: #000;
		/*color:#fff;*/
		text-align:center;
	}			 			 
	.sence_title{
		min-height:20px;
		font-size:24px;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space: nowrap;
	}
	.sence_title span{
		/*display: inline-block;*/
		/*float: left;*/
		margin: -2px;
	}

/*手机可视区域*/
	.phoneBox .phone_client{
		position:relative;
		cursor:pointer;
		height:486px;
		width:320px;
		overflow:hidden;
	}
/*插入音频*/
	#audio_btn{
		width:30px;
		height:30px;
		position:absolute;
		top:20px;
		right:20px;
		z-index:200;
		background-image:url(../img/music_logo2.png);
		background-repeat:no-repeat;
		background-size:contain;
		-webkit-animation: music_logo2 1.2s linear infinite forwards;
		animation: music_logo2 1.2s linear infinite forwards;	
	}			 
		@-webkit-keyframes music_logo2 {
			0%  { transform:rotate(0deg)   }
			50% { transform:rotate(180deg) }
			100%{ transform:rotate(360deg) }
		}
		@-o-keyframes music_logo2 {
			0%  { transform:rotate(0deg)   }
			50% { transform:rotate(180deg) }
			100%{ transform:rotate(360deg) }
		}
		@-moz-keyframes music_logo2 {
			0%  { transform:rotate(0deg)   }
			50% { transform:rotate(180deg) }
			100%{ transform:rotate(360deg) }
		}
		@keyframes music_logo2 {
			0%  { transform:rotate(0deg)   }
			50% { transform:rotate(180deg) }
			100%{ transform:rotate(360deg) }
		}		 
/*手机下部 菜单切换 点选按钮*/
	.center_btn{
		position: absolute;
		bottom: 0px;
		right: 0px;
		padding: 10px;
		z-index: 99999;
		display: none;
		/*border: 1px solid red;*/
	}
	.center_btn ul{
		width: 100%;
		height: 100%;
	}
	.center_btn ul li{
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		float: left;
		list-style: none;
		outline: none;
		/*border: none;*/
		border-radius: 10px;
		background-image: url(../img/tubiao1.png);
		background-size: 100% 100%;	
	}
/*	.center_btn ul li.on{
		background-image: url(../img/tubiao2.png);
	}*/	
/*	.center_btn ul li:hover{
		background-image: url(../img/tubiao2.png);
	}*/
	#center_btn_active{
		background-image: url(../img/tubiao2.png);
	}





/*简历内容*/
	.center_zong{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
/*	.center_zong ul li{
		height: 486px;
	}*/
.center_zong_move{
	width: 100%;
	height: 900%;
	position: absolute;
	left: 0px;
	top: 0px;
}	 
.center_zong_move>li{
	width: 100%;
	/*height: 486px;*/
	/*display: none;*/
	list-style: none;
	position: relative;	
} 
.center_item{
	width: 100%;
	height: 100%;
	display: none;
}
.center_yema{
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: white;
	font-size: 13px;
	z-index: 100;
}
.zhezhao{
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: rgba(0,0,0,0.3);*/
	top: 0px;
	left: 0px;
}

	 
#bottom{
	height:46px;
	width:100%;
	background-color:#fff;
	border-bottom-right-radius:25px;
	border-bottom-left-radius:25px;
}			 
			 
	 
.ctrl_panel{
	float:left;
	padding-top:110px;
}			 
			 
.btn{
	cursor:pointer;
	width:20px;
	height:70px;
	background-color:#2096f9;
	font-style: 12px;
	color:#fff;
	text-align:center;
	padding:20px 8px 0 8px;
	border:1px solid #2096f9;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	/* left:50%;
	top:47px; */
}			 
.prev_btn{
	display:block;
	font-size: 13px;
	margin-bottom:40px;
}
.next_btn{
	display: block;
	font-size: 13px;
	margin-bottom: 40px;
}			 
			 
			 




@media (min-width: 320px) and (max-width: 767px) {
	body{ margin: 0px; padding: 0px; background-position: center top;}
	.container{ width: 90%; margin: 0 5%; border:none; }
	.xs_hidden{ display: none; }
	
	.yemian_zhu_container{ width: 100%; border: none;}
	.my_introduce{ left: 0px; top: 0px; width: 100%;height: auto; padding: 0px; border: none;}
	.phone_panel{ width: 100%; height: auto; border: none;}
	#con{	height: auto; }




}