@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1508221111353'); /* IE9*/
  src: url('iconfont.eot?t=1508221111353#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1508221111353') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1508221111353') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1508221111353#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-comment:before { content: "\e6d3"; }

.icon-phone1:before { content: "\e622"; }

.icon-photo1:before { content: "\e636"; }

.icon-bang:before { content: "\e692"; }

.icon-mes2:before { content: "\e643"; }

.icon-exit:before { content: "\e60b"; }

.icon-password:before { content: "\e60f"; }

.icon-check:before { content: "\e624"; }

.icon-phone:before { content: "\e667"; }

.icon-heart:before { content: "\e611"; }

.icon-message:before { content: "\e632"; }

.icon-edit:before { content: "\e602"; }

.icon-mes:before { content: "\e69a"; }

.icon-plus:before { content: "\e662"; }

.icon-email:before { content: "\e6a4"; }

.icon-sousuo:before { content: "\e960"; }

.icon-edit2:before { content: "\e603"; }

.icon-set:before { content: "\e64e"; }

.icon-view:before { content: "\e623"; }
