@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1508221111353'); /* IE9*/
  src: url('iconfont.eot?t=1508221111353#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1508221111353') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1508221111353') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1508221111353#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-state:before { content: "\e600"; }

.icon-experience:before { content: "\e628"; }

.icon-jiguan:before { content: "\e650"; }

.icon-jianli:before { content: "\e61a"; }

.icon-pxreact2:before { content: "\e601"; }

.icon-contact:before { content: "\e6cc"; }

.icon-weixin:before { content: "\e7a7"; }

.icon-skill:before { content: "\e613"; }

.icon-jquery:before { content: "\e605"; }

.icon-about:before { content: "\e60f"; }

.icon-zhihu:before { content: "\e619"; }

.icon-phone:before { content: "\e61b"; }

.icon-University:before { content: "\e699"; }

.icon-intention:before { content: "\e692"; }

.icon-index:before { content: "\e611"; }

.icon-html5:before { content: "\e604"; }

.icon-qq:before { content: "\e61d"; }

.icon-keyboard:before { content: "\e696"; }

.icon-link:before { content: "\e90c"; }

.icon-tools:before { content: "\e8a8"; }

.icon-age:before { content: "\e681"; }

.icon-javascript:before { content: "\e635"; }

.icon-english:before { content: "\e643"; }

.icon-project:before { content: "\e810"; }

.icon-sass:before { content: "\e646"; }

.icon-css3:before { content: "\e61f"; }

.icon-frame:before { content: "\e602"; }

.icon-sex:before { content: "\e683"; }

.icon-github:before { content: "\e803"; }

.icon-weibo:before { content: "\e603"; }

.icon-email:before { content: "\e74e"; }

.icon-react:before { content: "\e64f"; }

.icon-jiguan2:before { content: "\e606"; }

.icon-xiaochengxu:before { content: "\e625"; }

.icon-daogang:before { content: "\e60a"; }

.icon-javascript2:before { content: "\e687"; }

.icon-education:before { content: "\e607"; }
