@charset "utf-8";
/* CSS Document */
body,img,div{
	margin: 0px;
	padding: 0px;
}

body,img,div,p,ul,li,a{
	margin: 0px;
	padding: 0px;
}
.clearfix{
	clear: both;
}
body{
	background-color: #fff;
}
 #ball{
	width: 550px;
	height: 550px;
	margin:100px auto;
	/*border: 1px solid red;*/
} 
#ball-cube{
	width: 500px;
	height: 500px;
	/*border: 1px solid red;*/
	/*transform-style:flat;/*2d旋转*/
	transform-style:preserve-3d;/*3d旋转*/

	/*transform:rotateX(-20deg);*/
	/*transform:rotateY(-20deg);*/
	/*transform:rotateZ(-20deg);*/

	transform:rotateZ(-20deg) rotateX(-20deg) rotateY(-20deg);
	animation:spin 30s linear infinite;

}
/*@keyframes spin{
	0%   {transform:rotateX(-20deg) rotateY(0deg)   rotateZ(-20deg) ;}
	100% {transform:rotateX(120deg) rotateY(360deg) rotateZ(-20deg) ;}
}
*/

@-webkit-keyframes spin {
	0%   {transform:rotateX(-20deg) rotateY(0deg)   rotateZ(-20deg) ;}
	100% {transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg) ;}
}
@-o-keyframes spin {
	0%   {transform:rotateX(-20deg) rotateY(0deg)   rotateZ(-20deg) ;}
	100% {transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg) ;}
}
@-moz-keyframes spin {
	0%   {transform:rotateX(-20deg) rotateY(0deg)   rotateZ(-20deg) ;}
	100% {transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg) ;}
}
@keyframes spin {
	0%   {transform:rotateX(-20deg) rotateY(0deg)   rotateZ(-20deg) ;}
	100% {transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg) ;}
}

#ball-cube div{
	width: 480px;
	height: 480px;
	/*background: red;*/
	opacity: ;
	border: 10px solid blue;
	border-radius: 50%;
	position: absolute;
}
#ball-cube .x1{ transform: rotateX(0deg);}
#ball-cube .x2{ transform: rotateX(20deg);}
#ball-cube .x3{ transform: rotateX(40deg);}
#ball-cube .x4{ transform: rotateX(60deg);}
#ball-cube .x5{ transform: rotateX(80deg);}
#ball-cube .x6{ transform: rotateX(100deg);}
#ball-cube .x7{ transform: rotateX(120deg);}
#ball-cube .x8{ transform: rotateX(140deg);}
#ball-cube .x9{ transform: rotateX(160deg);}

/*#ball-cube .x1{ transform: rotateX(90deg) translateZ(200px ) scale(0.6 ) }
#ball-cube .x2{ transform: rotateX(90deg) translateZ(150px ) scale(0.8 ) }
#ball-cube .x3{ transform: rotateX(90deg) translateZ(100px ) scale(0.92) }
#ball-cube .x4{ transform: rotateX(90deg) translateZ(50px  ) scale(0.98) }
#ball-cube .x5{ transform: rotateX(90deg) translateZ(0px   ) scale(1   ) }
#ball-cube .x6{ transform: rotateX(90deg) translateZ(-50px ) scale(0.98) }
#ball-cube .x7{ transform: rotateX(90deg) translateZ(-100px) scale(0.92) }
#ball-cube .x8{ transform: rotateX(90deg) translateZ(-150px) scale(0.8 ) }
#ball-cube .x9{ transform: rotateX(90deg) translateZ(-200px) scale(0.6 ) }*/

#ball-cube .y1{ transform: rotateY(90deg) translateZ(200px ) scale(0.6 ) }
#ball-cube .y2{ transform: rotateY(90deg) translateZ(150px ) scale(0.8 ) }
#ball-cube .y3{ transform: rotateY(90deg) translateZ(100px ) scale(0.92) }
#ball-cube .y4{ transform: rotateY(90deg) translateZ(50px  ) scale(0.98) }
#ball-cube .y5{ transform: rotateY(90deg) translateZ(0px   ) scale(1   ) }
#ball-cube .y6{ transform: rotateY(90deg) translateZ(-50px ) scale(0.98) }
#ball-cube .y7{ transform: rotateY(90deg) translateZ(-100px) scale(0.92) }
#ball-cube .y8{ transform: rotateY(90deg) translateZ(-150px) scale(0.8 ) }
#ball-cube .y9{ transform: rotateY(90deg) translateZ(-200px) scale(0.6 ) }






/*#ball-cube .y1{ transform: rotateY(0deg) }
#ball-cube .y2{ transform: rotateY(20deg) }
#ball-cube .y3{ transform: rotateY(40deg) }
#ball-cube .y4{ transform: rotateY(60deg) }
#ball-cube .y5{ transform: rotateY(80deg) }
#ball-cube .y6{ transform: rotateY(100deg) }
#ball-cube .y7{ transform: rotateY(120deg) }
#ball-cube .y8{ transform: rotateY(140deg) }
#ball-cube .y9{ transform: rotateY(160deg) }*/


.x1{background-image: linear-gradient(to top,red,green);
	-webkit-background-image: linear-gradient(top,red,green)
}
.x2{background-image: linear-gradient(to top,white,black);
	-webkit-background-image: linear-gradient(top,white,black)
}
.x3{background-image: linear-gradient(to top,yellow,navy);
	-webkit-background-image: linear-gradient(top,yellow,navy)
}
.x4{background-image: linear-gradient(to top,maroon,orange);
	-webkit-background-image: linear-gradient(top,maroon,orange)
}
.x5{background-image: linear-gradient(to top,olive,purple);
	-webkit-background-image: linear-gradient(top,olive,purple)
}
.x6{background-image: linear-gradient(to top,maroon,orange);
	-webkit-background-image: linear-gradient(top,maroon,orange)
}
.x7{background-image: linear-gradient(to top,yellow,navy);
	-webkit-background-image: linear-gradient(top,yellow,navy)
}
.x8{background-image: linear-gradient(to top,white,black);
	-webkit-background-image: linear-gradient(top,white,black)
}
.x9{background-image: linear-gradient(to top,red,green);
	-webkit-background-image: linear-gradient(top,red,green)
}

.y1{background-image: linear-gradient(to top,red,green);
	-webkit-background-image: linear-gradient(top,red,green)
}
.y2{background-image: linear-gradient(to top,white,black);
	-webkit-background-image: linear-gradient(top,white,black)
}
.y3{background-image: linear-gradient(to top,yellow,navy);
	-webkit-background-image: linear-gradient(top,yellow,navy)
}
.y4{background-image: linear-gradient(to top,maroon,orange);
	-webkit-background-image: linear-gradient(top,maroon,orange)
}
.y5{background-image: linear-gradient(to top,olive,purple);
	-webkit-background-image: linear-gradient(top,olive,purple)
}
.y6{background-image: linear-gradient(to top,maroon,orange);
	-webkit-background-image: linear-gradient(top,maroon,orange)
}
.y7{background-image: linear-gradient(to top,yellow,navy);
	-webkit-background-image: linear-gradient(top,yellow,navy)
}
.y8{background-image: linear-gradient(to top,white,black);
	-webkit-background-image: linear-gradient(top,white,black)
}
.y9{background-image: linear-gradient(to top,red,green);
	-webkit-background-image: linear-gradient(top,red,green)
}